<ion-view title="Tabela TACO">
  <ion-header-bar class="bar-light bar-subheader">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" ng-model="q" ng-change="searchBoxChange()" placeholder="Pesquisar..."
      style="background-color: transparent !important;">
  </label>
  </ion-header-bar>
  <ion-content padding="false" class="has-header">
    <div class="text-center" ng-show="searchEmpty">
      <br>
      <!-- Caso não existam resultados -->
      {{ searchEmpty }}
    </div>

    <ion-list>
      <ion-item ng-repeat="alimento in alimentosTACO" item="item" href="#/alimentosTACO/{{alimento.id}}"> 
        {{ alimento.nome }}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>